<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{ heading }}
    <br> 
  </head>
  <body>
    {{ occupation }}
      <br>
      <br> 
    <table style="width:100%">
      <tr>
        <th>Occupation</th>
        <th>Percent</th>
      </tr>
    <tr>
        <td> Unemployed </td>
        <td> {{ percentage }} </td> 
    </tr> 
      {% for item in collection %}
      <tr>
        <td>{{item}}</td>
        <td>{{collection[item]}}</td>
      </tr>
    {% endfor %}
  </body>
</html>


