<!DOCTYPE html>
<html>
  <head>
    <title> !SUBMIT SOMETHING INTERESTING! </title>
  </head>
  <body>
    <form action="/login" method="POST">
                        <br>
                        <input type="text" name="username" placeholder="Username">
                        <br>
                        <input type="text" name = "password" placeholder="Password>
                        <br>
                        <br> 
                        <button name="done" type="submit">
                        Submit
                        </button>
    </form>
  </body>
</html>
